<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de fructe</title>
    <style>
        .red {
            color: red;
        }
    </style>
</head>
<body>

    <h2>Lista de fructe</h2>

    <ul>
        {% for element in elemente_lista %}
            <li class="{% if element in cuvinte_colorate %}red{% endif %}">
                {{ element }}
            </li>
        {% endfor %}
    </ul>

</body>
</html>
