<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Confirmare Înregistrare</title>
</head>
<body>
    <h1>Welcome to Lego Store!</h1>
    <p>Hello {{ first_name }} {{ last_name }} ({{ username }}),</p>
    <p><a href="{{ confirmation_link }}">Please confirm your email!</a></p>
    <p>If the link does not work you can copy it from bellow!:</p>
    <p>{{ confirmation_link }}</p>
    <p>Thank you!</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/LEGO_logo.svg/640px-LEGO_logo.svg.png" alt="Lego Store Logo" width="200" height="200" />
</body>
</html>